
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* .container{
  width: 100%;
  height: 100vh;
  background: #0d0024;
  display: flex;
  align-items: center;
  justify-content: center;
} */


.menu{
  width: 30px;
  height: 30px;
  margin: 8px;
  background-image: linear-gradient(to right,#e91e63, #f44336);
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-content: center;
  position: absolute;
  right: 20px;
  overflow: hidden;
}

.menu div{
  width: 120px;
  height: 120px;
  margin: 3px;
  position: relative;
}

.menu span{
  background: #fff;
  width: 100%;
  height: 2px;
  border-radius: 5px;
  display: block;
  position: absolute;
  top: 14px;
  left: 60%;
  transform: translate(-60%, -100%);
  transition: transform 0.5s,width 0.5s;
}

.menu .line-1{
  transform: translate(-60%, -10px);
}

.menu .line-3{
  transform: translate(-60%, 6px);
}

.openmenu .line-1{
  transform: translate(-50%, -50%) rotate(-45deg);
}
.openmenu .line-3{
  transform: translate(-50%, -50%) rotate(45deg);
}
.openmenu .line-2{
  width: 0;
}


.both{
  background-color: black;
  height: 200px;
  width: 100%;
}

.openmenu:after > .to:checked;